@model TransportCompany.Models.Driver;
@{
    Layout = "_LayoutAuthorize";
    //List<BusStop> busStops = ViewData["BusStops"] != null ? (List<BusStop>)ViewData["BusStops"] : null;
}

<h4>Добавление водителя</h4>

<hr />

<div>
    <form asp-action="SaveCreatedDrivers">
        <label asp-for="Surname">Фамилия водителя</label>
        <input asp-for="Surname" type="text" /> <br />
        <label asp-for="Name">Имя водителя</label>
        <input asp-for="Name" type="text" /> <br />
        <label asp-for="Fathername">Отчество водителя</label>
        <input asp-for="Fathername" type="text" /> <br />
        <input type="submit" class="btn-primary" value="Выбрать"/>
    </form>
</div>