@model TransportCompany.Models.Conductor;

@{
    Layout = "_LayoutAuthorize";

    List<Conductor> conductors = ViewData["Conductors"] != null ? (List<Conductor>)ViewData["Conductors"] : null;
}

<h4>Список кондукторов</h4>

<hr />

<div>
    <a asp-action="CreateConductors">Добавить кондуктора</a>
    <table class="table">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in conductors)
            {
                <tr>
                    <td>@item.Surname</td>
                    <td>@item.Name</td>
                    <td>@item.Fathername</td>
                    <td><a asp-action="DeleteConductors" asp-route-id="@item.Id">Удалить</a></td>
                    
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index">Вернуться на главную</a>
</div>